<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/Warhammer4000/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="Warhammer4000" />
      <add key="ClearTextPassword" value="86824f5ec9283aaae934c63c83e07060bc7a8930" />
    </github>
  </packageSourceCredentials>
</configuration>